mixin svg(svgName)
	svg
		use(xlink:href=`./assets/images/svg/sprite.svg#${svgName}`)

mixin login-btn(val)
	a.login-btn.h-btn(href="#")= val

mixin blue-btn(val)
	a.blue-btn.h-btn(href="#")= val

mixin blue-button(val)
	button.blue-btn.h-btn(href="#")= val

mixin burger 
	.burger.h-btn 
		div

mixin title(val)
	span.section-title= val

mixin more-btn(val)
	a.more-btn.h-btn(href="#")
		span= val
		+svg('more-arrow')

mixin black-button(val)
	button.black-btn.h-btn= val

mixin back-btn(val)
	a.back-btn.h-btn(href="#")
		+svg('back-btn')
		span= val

mixin pdf-btn(val)
	a.pdf-btn.h-btn(href="#")
		+svg('pdf')
		span= val

mixin save-btn(val)
	a.pdf-btn.h-btn(href="#")
		+svg('save')
		span= val

mixin share-btn(val)
	a.pdf-btn.h-btn(href="#")
		+svg('link')
		span= val

mixin next-btn(val)
	a.next-btn.h-btn(href="#")
		span= val

mixin border-btn(val)
	a.border-btn.h-btn(href="#")
		span= val

mixin blue-phone-btn
	a.login-btn.blue-phone-btn.h-btn(href="#") Заказать звонок

mixin details-btn(val)
	a.details-btn.h-btn(href="#")= val